body {
    color: #ffffff;
    padding-top: 111px;
    font-size: 10px;
    text-align: center;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 30px 0;
}

main {
    font-family: 'Lato', sans-serif;
}

.blue-bg {
    background-color: #2c3e50;
}

.dark-bg {
    background-color: #1abc9c;
}

.navbar-brand {
    font-size: 1.8rem;
}

.btn-stats {
    background-color: #1abc9c;
    color: #ffffff;
    padding: 13px;
    border-radius: 13px;
}

.navbar a {
    color: #ffffff;
}

.pl {
    padding-left: 50px;
}

.navbar ul li a:hover {
    color: #1abc9c;
    background-color: #313e4f;
}

.nav-text {
    font-size: 1.7rem;
}

.avatar {
    padding-bottom: 50px;
    width: 25rem;
}

.monts-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    line-height: 4.5rem;
}

.monts-sub {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.padding-deco {
    padding: 30px 0;
}

.padding-line {
    float: left;
    padding: 15px 0;
}

.line {
    margin: 0 10px;
    border: 2px solid;
    height: 4px;
    width: 112px;
    border-radius: 5px;
}

.star {
    float: left;
    font-size: 30px;
}

.lato-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
}

.sections {
    padding: 80px 0;
}

.light-bg-text {
    color: #2c3e50;
}

.img-fluid {
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
}

.margin-bot {
    margin-bottom: 30px;
}

.btn-outline {
    border: 2px solid;
    padding: 2rem 3rem;
}

.input-lg {
    height: 100px;
}

.border-bot {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #e9ecef;
}

.btn:hover {
    color: #ffffff;
    background-color: #159a80;
}

.mr-top {
    margin-top: 20px;
}

.message-height {
    height: 250px;
}

.margin-h4 {
    margin-bottom: 25px;
}

#info p a {
    color: #1abc9c;
}

.btn-media {
    padding-top: 13px;
    margin: 0 5px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 2rem;
    width: 6rem;
    height: 6rem;
}

.btn-media:hover {
    color: #000000;
    background-color: #ffffff;
}

.footer {
    background-color: #1a252f;
}

.footer p {
    padding: 20px 0 10px;
    font-size: 1.3rem;
}

.btn-scroll {
    position: fixed;
    right: 2rem;
    bottom:  2rem;
    z-index: 10;
}

.btn-scroll a {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    color: #ffffff;
    font-size: 1.75rem;
    background-color: rgba(33, 37, 41, 0.5);
    border-radius: 25%;
    line-height: 5rem;
}
